# Eclipse
.project
.classpath
.settings/

# Maven
target/

# Build output
bin/

# Logs
logs/
*.log

# OS-specific
.DS_Store
Thumbs.db

# Backup / temp
*.tmp
*.bak
*.swp

# Eclipse / Projekt-Müll
*.class
.checkstyle

# IntelliJ‑Artefakte
.idea/
*.iml

# VSCode‑Artefakte
.vscode/

# Merge‑Konflikt‑Reste
*.orig

# automatisch generierte Verzeichnislisten
**/dir.txt
**/tree.txt

# Mac Finder Metadata
.AppleDouble
